@{
    ViewData["Title"] = "Главная";
}
@model IEnumerable<UserHistory>

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <h3>Загрузите изображение</h3>
    <form asp-action="index" asp-controller="Editor" enctype="multipart/form-data">
        <div class="form-group">
            <input class="form-control-file custom-file" type="file" name="uploadImage" />
        </div>
        <div class="form-group">
            <input class="form-control btn btn-success" type="submit" value="Обработать" />
        </div>
    </form>

    <div>
        @foreach(var item in Model)
        {
        <div class="row flex-sm-row justify-content-center">
            <img style="width:200px; height:auto" src="data:image/jpeg;base64, @Convert.ToBase64String(item.UploadImage.Img)" />
            <h1>-></h1>
            <img style="width:200px; height:auto" src="data:image/jpeg;base64, @Convert.ToBase64String(item.ConvertedImage.Img)" />
        </div>
        <br />
        }
    </div>
</div>
