@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <h3>Загрузите изображение</h3>
    <form asp-action="index" asp-controller="Editor" enctype="multipart/form-data">
        <div class="form-group">
            <input class="form-control-file custom-file" type="file" name="uploadImage" />
        </div>
        <div class="form-group">
            <input class="form-control btn btn-success" type="submit" value="Обработать" />
        </div>
    </form>
</div>
